
.vh-80
{
	height: 80vh;
}

.br-50
{
	border-radius: 50%;
} 

ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}


@media screen and (max-width: 768px)
{
}

@media screen and (min-width: 768px) 
{
	.card-body {
		margin-left:10vw;
		margin-top: 100px;
		width:50%;
	}
}